body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .self-reflect-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ADD8E6; /* Blue background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  .instructions, .options {
    margin-bottom: 40px;
  }
  
  .instructions h2, .options h2 {
    font-size: 24px;
    color: #333;
  }
  
  .instructions p {
    margin-bottom: 10px;
  }
  
  .option-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-video {
    background-color: #FF9843; /* Orange */
  }
  
  .start-video:hover {
    background-color: #FFB66B; /* Lighter shade of orange */
  }
  
  .view-report, .resources-page, .therapy-page {
    background-color: #FF9843; /* Orange */
  }
  
  .view-report:hover, .resources-page:hover, .therapy-page:hover {
    background-color: #FFB66B; /* Lighter shade of orange */
  }